[Desktop Entry]
Encoding=UTF-8
Name=Coinyecoin
Comment=Coinyecoin P2P Cryptocurrency
Comment[fr]=Coinyecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Coinyecoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/coinyecoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/coinyecoin128.png
MimeType=x-scheme-handler/coinyecoin;
Categories=Office;
