#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_coinyecoin
#build/coinyecoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_coinyecoin)

DEB_INSTALL_EXAMPLES_coinyecoind += debian/examples/*
DEB_INSTALL_MANPAGES_coinyecoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix coinyecoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f coinyecoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake coinyecoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_coinyecoin
	src/test_coinyecoin

# Ensure wrapper is set executable
binary-post-install/coinyecoind:
	chmod +x $(cdbs_curdestdir)usr/bin/coinyecoind
binary-post-install/coinyecoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/coinyecoin-qt
